[Desktop Entry]
Type=Application
Name=Swallow Wallpaper
Exec=pcmanfm-qt --set-wallpaper="/usr/share/backgrounds/swallow/swallow.jpg" --wallpaper-mode=stretch
OnlyShowIn=LXQt;
