Package: penguins-chef
Version: {{.BaseVersion}}-{{.Rel}}
Section: admin
Priority: optional
Architecture: {{.Arch}}
Maintainer: Piero Proietti <piero.proietti@gmail.com>
Depends: {{.Depends}}
Description: penguins-chef: cook and configure your Linux distribution
 penguins-chef is a lightweight tool to manage and apply system
 configurations, desktop environments, and recipes
 to Linux distributions.
